* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

p,
input {
  font-size: 16px;
}

.app {
  height: 80vh;
  width: 80vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: black 0 1px 4px;
}
